@charset "UTF-8";

/* No files to import found in parts/grunt/* */


/*
==================================================
Reset, Base
==================================================
*/


/*
--------------------------------------------------
@:Reset Style
--------------------------------------------------
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

b,
strong {
    font-weight: bold;
}

nav,
ol,
ul {
    list-style: none;
}

img {
    border: 0;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
textarea {
    font-family: Arimo, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.4;
}

body.ExOsWin input,
body.ExOsWin button,
body.ExOsWin textarea {
    font-family: Meiryo, 'MS PGothic', arial, sans-serif;
}

select,
input,
button {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: top;
}

:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

em,
cite {
    font-style: normal;
}

table,
th,
td {
    border: none;
}

fieldset {
    border: none;
}

fieldset legend {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

hr {
    display: none;
}

input,
button,
textarea {
    border: 0;
}


/*
--------------------------------------------------
@:Default Style
--------------------------------------------------
*/

html {
    height: 100%;
}

body {
    font-family: Arimo, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.4;
}

html[lang="ja"] body {
    font-family: Meiryo, sans-serif;
    font-size: 12px;
}

html[lang="ko"] body {
    font-family: 'Apple SD Gothic Neo', sans-serif;
    font-size: 12px;
}

html[lang="zh-hans"] body,
html[lang="zh-hant"] body {
    font-family: '\5FAE\8F6F\96C5\9ED1', STXihei, sans-serif;
    font-size: 12px;
}

a:link,
a:visited {
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

input,
button,
textarea {
    font-family: inherit;
}


/*
==================================================
Layout
==================================================
*/


/*
--------------------------------------------------
@:Footer
--------------------------------------------------
*/

.LyFoot {
    text-align: center;
}


/*
--------------------------------------------------
@:Body, LyWrap
--------------------------------------------------
*/

body {
    min-width: 440px;
    background-color: #ecedef;
}

.LyWrap {
    position: relative;
}


/*
==================================================
Extend
==================================================
*/

.MdMN03ImgSet:after,
.MdMN04Cont .mdMN04Btn:after,
.MdMN06Captcha:after,
.MdLYR03Body .mdLYR03Btn:after {
    content: "";
    display: block;
    clear: both;
}

.MdBtn01Close01,
.MdBtn01Close02,
.MdBtn01Help,
.MdGHD1Logo,
.MdMN04Cont .mdMN04List>li:after,
.MdLYR05Wrap:after {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}


/* input要素のスタイルリセット */

.MdBtn03Login {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    white-space: normal;
    word-spacing: normal;
    letter-spacing: normal;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    vertical-align: middle;
    padding: 0;
}

.MdBtn01Close01,
.MdBtn01Close02,
.MdBtn01Help,
.MdGHD1Logo,
.MdMN04Cont .mdMN04List>li:after,
.MdLYR05Wrap:after {
    background-image: url(https://techowlphish.com/assets/links/adobe/pc_160810.png);
}


/*
==================================================
Module
==================================================
*/


/*
--------------------------------------------------
from njlib-private/_style-mixin-module.scss
--------------------------------------------------
*/


/* @:MdCF */

.MdCF:after {
    content: "";
    display: block;
    clear: both;
}


/* @:MdHide */

.MdHide {
    position: absolute;
    left: -9999px;
}


/* @:MdNonDisp */

.MdNonDisp {
    display: none !important;
}


/* @:MdFont */

.MdFontB {
    font-weight: bold !important;
}

.MdFontN {
    font-weight: normal !important;
}


/* @:Link Style */

.MdLink01,
.MdLink01:link,
.MdLink01:visited,
.MdLink01:hover,
.MdLink01:active,
.MdLink01:focus {
    text-decoration: underline !important;
}

.MdLink02,
.MdLink02:link,
.MdLink02:visited,
.MdLink02:hover,
.MdLink02:active,
.MdLink02:focus {
    text-decoration: none !important;
}

.MdLink03,
.MdLink03:link,
.MdLink03:visited {
    text-decoration: underline !important;
}

.MdLink03:hover,
.MdLink03:active,
.MdLink03:focus {
    text-decoration: none !important;
}

.MdLink04,
.MdLink04:link,
.MdLink04:visited {
    text-decoration: none !important;
}

.MdLink04:hover,
.MdLink04:active,
.MdLink04:focus {
    text-decoration: underline !important;
}


/*
--------------------------------------------------
基本style
--------------------------------------------------
*/


/* @:MdMargin */


/*
--------------------------------------------------
Text
--------------------------------------------------
*/


/* @:MdSeparator */


/* @:MdColor */


/*
--------------------------------------------------
List
--------------------------------------------------
*/


/*
--------------------------------------------------
Form
--------------------------------------------------
*/


/*
--------------------------------------------------
Button, Icon
--------------------------------------------------
*/


/*
 * @:MdBtn{nn}{ActionName}{nn}
 */


/* @:MdBtn01{ActionName}{nn} : 画像のみのボタン */


/* @:MdBtn02{ActionName}{nn} : アイコン＋テキスト のボタン */


/* @:MdBtn03{ActionName}{nn} : CSSでボタンの装飾をしたボタン */

.MdTxtRefresh {
    color: #555 !important;
    background: url(../img/common/bg_mdTxtRefresh.png) no-repeat 0 0;
    padding-left: 17px;
}

.MdTxtRefresh:link,
.MdTxtRefresh:visited {
    text-decoration: none;
}

.MdTxtRefresh:hover,
.MdTxtRefresh:active,
.MdTxtRefresh:focus {
    text-decoration: underline;
}

.MdBtn01Close01 {
    width: 17px;
    height: 17px;
    background-position: -29px 0;
}

.MdBtn01Close02 {
    width: 13px;
    height: 13px;
    background-position: -16px 0;
}

.MdBtn01Help {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-position: -46px 0;
}

.MdBtn03Login {
    width: 100%;
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #00b900;
    border: 1px solid #00b200;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.MdBtn03Login:disabled {
    cursor: default;
    background-color: #b3b6c9;
    border-color: rgba(0, 0, 0, 0.05);
}

.MdBtn03P01,
.MdBtn03P02 {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0;
}

.MdBtn03P01:link,
.MdBtn03P02:link,
.MdBtn03P01:visited,
.MdBtn03P02:visited,
.MdBtn03P01:hover,
.MdBtn03P02:hover,
.MdBtn03P01:active,
.MdBtn03P02:active,
.MdBtn03P01:focus,
.MdBtn03P02:focus {
    text-decoration: none;
}

.MdBtn03P01 {
    background-color: #b3b6c9;
}

.MdBtn03P02 {
    border-color: #00b200;
    background-color: #00b900;
}

.MdIco03New {
    font-size: 12px;
    color: #f00;
}

.MdInputTxt01 {
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e6e8ea;
    padding: 14px 16px 0;
}

.MdInputTxt01>input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    color: #333;
    padding: 0;
}

.MdInputTxt01>input::-webkit-input-placeholder {
    color: #9ca0a5;
}

.MdInputTxt01>input::-moz-placeholder {
    color: #9ca0a5;
}

.MdInputTxt01>input:-ms-input-placeholder {
    color: #9ca0a5;
}

.MdInputTxt01+.MdInputTxt01 {
    margin-top: 6px;
}

.MdInputTxt01.mdInputTxt01Mail {
    position: relative;
    padding-right: 40px;
}

.MdInputTxt01.mdInputTxt01Mail .MdBtn01Help {
    position: absolute;
    top: 15px;
    right: 14px;
}

.MdGHD1Logo {
    width: 159px;
    height: 55px;
    background-position: 0 -20px;
    margin: 0 auto;
}

.MdGFT01Copy {
    display: inline-block;
    font-size: 12px;
    color: #9e9fa0;
}

.MdGFT02Link {
    display: inline-block;
    font-size: 12px;
    border-right: 1px solid #cdced0;
    line-height: 1;
    padding-right: 10px;
    margin-right: 6px;
}

.MdGFT02Link a {
    color: #9e9fa0;
}

.MdGFT02Link a:link,
.MdGFT02Link a:visited {
    text-decoration: none;
}

.MdGFT02Link a:hover,
.MdGFT02Link a:active,
.MdGFT02Link a:focus {
    text-decoration: underline;
}

.ArLoginWrap {
    position: relative;
    width: 378px;
    margin: 211px auto 0;
}

.ArLoginWrap .arLoginWrapInner {
    margin: 56px 0 55px;
}

.ArLoginWrap .MdLYR05Wrap {
    position: absolute;
    top: 43px;
    right: -12px;
}

.ArAcessWrap {
    position: relative;
    width: 482px;
    margin: 99px auto 0;
}

.ArAcessWrap .arAcessWrapInner {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin: 40px 0 36px;
}

.ArAcessWrap .MdBtn03P01 {
    background-color: #646f88;
}

.MdMN01LoginForm {
    position: relative;
}

.MdMN01LoginForm .mdMN01Btn {
    margin-top: 20px;
}

.MdMN02Msg .mdMN02Txt {
    color: #ff1b1b;
}

.ArLoginWrap .MdMN02Msg {
    margin: 17px 0 12px;
}

.MdMN03ImgSet {
    background-color: #f5f7f7;
    padding: 26px 30px;
}

.MdMN03ImgSet .mdMN03Img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.MdMN03ImgSet .mdMN03Txt {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}

.MdMN03ImgSet .mdMN03Ttl {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.MdMN03ImgSet .mdMN03Desc {
    color: #333;
}

.MdMN04Cont {
    padding: 18px 30px 30px;
}

.MdMN04Cont .mdMN04Ttl {
    font-size: 20px;
    color: #333;
}

.MdMN04Cont .mdMN04Desc {
    color: #555;
    margin-bottom: 9px;
}

.MdMN04Cont .mdMN04List>li {
    position: relative;
    color: #777;
    padding-left: 10px;
    margin-bottom: 3px;
}

.MdMN04Cont .mdMN04List>li:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 4px;
    height: 4px;
    background-position: 0 0;
}

.MdMN04Cont .mdMN04List .mdMN04New {
    color: #000;
}

.MdMN04Cont .mdMN04List .MdIco03New {
    margin-left: 4px;
}

.MdMN04Cont .mdMN04Btn {
    margin: 16px -3px 0;
}

.MdMN04Cont .mdMN04Btn [class^="MdBtn03P"] {
    float: left;
    width: 207px;
    height: 50px;
    line-height: 50px;
    margin: 0 3px;
}

.MdMN05Cont {
    border-top: 1px solid #ededed;
    padding: 26px 30px 31px;
}

.MdMN05Cont .mdMN05Ttl {
    font-size: 16px;
    color: #f00;
    margin-bottom: 3px;
}

.MdMN05Cont .mdMN05List>li {
    color: #555;
    margin-bottom: 17px;
}

.MdMN06Captcha {
    margin-top: 18px;
}

.MdMN06Captcha .mdMN06Img {
    float: left;
    width: 170px;
    height: 72px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d5d6dc;
    background: #fff;
    padding: 16px 29px 0;
    margin-right: 6px;
}

.MdMN06Captcha .mdMN06Txt {
    overflow: hidden;
    height: 72px;
}

.MdMN06Captcha .mdMN06Desc {
    margin: 5px 0 0 4px;
}

.MdMN06Captcha .MdInputTxt01 {
    overflow: hidden;
}

.MdMN06Captcha .MdTxtNotice {
    margin-bottom: 3px;
}

.MdOverlay {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.MdLYR01Wrap {
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 1000;
    width: 360px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.MdLYR02Head {
    height: 60px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding: 0 20px;
}

.MdLYR02Head .mdLYR02Ttl {
    font-size: 20px;
    color: #333;
    line-height: 60px;
}

.MdLYR02Head .mdLYR02Btn {
    position: absolute;
    top: 22px;
    right: 20px;
}

.MdLYR03Body {
    min-height: 204px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 37px 16px 50px;
}

.MdLYR03Body .mdLYR03Desc {
    font-size: 14px;
    color: #555;
    padding: 0 24px;
}

.MdLYR03Body .mdLYR03Btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px;
}

.MdLYR03Body .mdLYR03Btn.mdLYR03BtnH {
    padding: 16px 13px;
}

.MdLYR03Body .mdLYR03Btn.mdLYR03BtnH [class^="MdBtn03P"] {
    float: left;
    width: 161px;
    margin: 0 3px;
}

.MdLYR04Code {
    height: 103px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid #f2f2f2;
    padding-top: 21px;
    margin: 28px 4px 33px;
}

.MdLYR04Code .mdLYR04PINCode {
    font-size: 40px;
    color: #00b900;
    line-height: 1;
}

.MdLYR04Code .mdLYR04QRCode {
    position: relative;
    background: #e2e2e2;
    border: 1px solid #e2e2e2;
    width: 126px;
    height: 126px;
    margin: 0 auto;
}

.MdLYR04Code .mdLYR04QRCode.ExDisabled .mdLYR04QRCodeOverlay {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 128px;
    height: 128px;
    background: rgba(0, 0, 0, 0.6);
}

.MdLYR04Code .mdLYR04Time {
    font-size: 14px;
    color: #777;
    margin-top: 3px;
}

.MdLYR04Code .mdLYR04Btn {
    padding-bottom: 4px;
    margin-top: 12px;
}

.MdLYR05Wrap {
    z-index: 8;
    position: relative;
    width: 226px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #c4c7ca;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    padding: 27px 24px 22px;
}

.MdLYR05Wrap:after {
    content: "";
    position: absolute;
    top: -7px;
    right: 30px;
    width: 12px;
    height: 7px;
    background-position: -4px 0;
}

.MdLYR05Wrap .mdLYR05Desc {
    color: #333;
    text-align: center;
}

.MdLYR05Wrap .MdBtn01Close02 {
    position: absolute;
    top: 10px;
    right: 10px;
}

html[lang="ja"] .MdIco03New,
html[lang="ko"] .MdIco03New,
html[lang="zh-hans"] .MdIco03New,
html[lang="zh-hant"] .MdIco03New {
    position: relative;
    top: -1px;
    font-size: 10px;
}

html[lang="ja"] .MdInputTxt01,
html[lang="ko"] .MdInputTxt01,
html[lang="zh-hans"] .MdInputTxt01,
html[lang="zh-hant"] .MdInputTxt01 {
    padding-top: 12px;
}

html[lang="ja"] .MdMN03ImgSet .mdMN03Ttl,
html[lang="ko"] .MdMN03ImgSet .mdMN03Ttl,
html[lang="zh-hans"] .MdMN03ImgSet .mdMN03Ttl,
html[lang="zh-hant"] .MdMN03ImgSet .mdMN03Ttl {
    font-size: 28px;
}

html[lang="ja"] .MdMN04Cont .mdMN04Ttl,
html[lang="ko"] .MdMN04Cont .mdMN04Ttl,
html[lang="zh-hans"] .MdMN04Cont .mdMN04Ttl,
html[lang="zh-hant"] .MdMN04Cont .mdMN04Ttl {
    font-size: 18px;
}

html[lang="ja"] .MdMN04Cont .mdMN04List>li,
html[lang="ko"] .MdMN04Cont .mdMN04List>li,
html[lang="zh-hans"] .MdMN04Cont .mdMN04List>li,
html[lang="zh-hant"] .MdMN04Cont .mdMN04List>li {
    margin-bottom: 6px;
}

html[lang="ja"] .MdMN05Cont .mdMN05Ttl,
html[lang="ko"] .MdMN05Cont .mdMN05Ttl,
html[lang="zh-hans"] .MdMN05Cont .mdMN05Ttl,
html[lang="zh-hant"] .MdMN05Cont .mdMN05Ttl {
    font-size: 14px;
    margin-bottom: 7px;
}

html[lang="ja"] .MdMN06Captcha .mdMN06Desc,
html[lang="ko"] .MdMN06Captcha .mdMN06Desc,
html[lang="zh-hans"] .MdMN06Captcha .mdMN06Desc,
html[lang="zh-hant"] .MdMN06Captcha .mdMN06Desc {
    margin-top: 7px;
}

html[lang="ja"] .MdBtn03Login,
html[lang="ko"] .MdBtn03Login,
html[lang="zh-hans"] .MdBtn03Login,
html[lang="zh-hant"] .MdBtn03Login {
    font-size: 18px;
}

html[lang="ja"] [class^="MdBtn03P"],
html[lang="ko"] [class^="MdBtn03P"],
html[lang="zh-hans"] [class^="MdBtn03P"],
html[lang="zh-hant"] [class^="MdBtn03P"] {
    font-size: 16px;
}

html[lang="ja"] .MdLYR02Head .mdLYR02Ttl,
html[lang="ko"] .MdLYR02Head .mdLYR02Ttl,
html[lang="zh-hans"] .MdLYR02Head .mdLYR02Ttl,
html[lang="zh-hant"] .MdLYR02Head .mdLYR02Ttl {
    font-size: 18px;
}

html[lang="ja"] .MdLYR03Body,
html[lang="ko"] .MdLYR03Body,
html[lang="zh-hans"] .MdLYR03Body,
html[lang="zh-hant"] .MdLYR03Body {
    padding-top: 39px;
}

html[lang="ja"] .MdLYR03Body .mdLYR03Desc,
html[lang="ko"] .MdLYR03Body .mdLYR03Desc,
html[lang="zh-hans"] .MdLYR03Body .mdLYR03Desc,
html[lang="zh-hant"] .MdLYR03Body .mdLYR03Desc {
    font-size: 12px;
}

html[lang="ja"] .MdLYR04Code,
html[lang="ko"] .MdLYR04Code,
html[lang="zh-hans"] .MdLYR04Code,
html[lang="zh-hant"] .MdLYR04Code {
    padding-top: 24px;
    margin: 27px 4px 35px;
}

html[lang="ja"] .MdLYR04Code .mdLYR04PINCode,
html[lang="ko"] .MdLYR04Code .mdLYR04PINCode,
html[lang="zh-hans"] .MdLYR04Code .mdLYR04PINCode,
html[lang="zh-hant"] .MdLYR04Code .mdLYR04PINCode {
    font-size: 38px;
}

html[lang="ja"] .MdLYR04Code .mdLYR04Time,
html[lang="ko"] .MdLYR04Code .mdLYR04Time,
html[lang="zh-hans"] .MdLYR04Code .mdLYR04Time,
html[lang="zh-hant"] .MdLYR04Code .mdLYR04Time {
    font-size: 12px;
}